{% extends "base.html" %}

{% block content %}
    <h1>What's on your mind?</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=150) }}
        </p>
        <p>
            {{ form.post.label }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.post(cols=50, rows = 70)}}
            {% for error in form.post.errors %}
            <p style="color: red;">[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}