{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <h3>posted by <b>{{ post.author.username }}</b></h3>
    <p>{{post.body}}</p>
    <h2>Comments</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% if comments is not none %}
        {% for comment in comments %}
            <div>
                <p>
                    <small>
                        <b>{{ comment.author.username }}<br></b> {{ comment.timestamp.strftime("%d/%m/%Y") }}
                    </small> 
                </p>
                <p>{{ comment.text }}</p>
                {% if current_user.is_authenticated %}
                {% set toggleCall = "{}{}{}".format('toggleDisplay(', comment.id, ')') %}
                <div class="comment_form "id={{comment.id}} >
                    <div class="row" display="none">
                        <div class="col-md-4">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
                <button onclick={{toggleCall}}>Reply</button>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
    <script>
        function toggleDisplay(id)
        {
            commentBox = document.getElementById(id);
            if (commentBox.style.display == 'none')
            {
                commentBox.style.display = 'block'
            }
            else
            {
                commentBox.style.display = 'none'
            }   
        }
    </script>
{% endblock %}